<div class="bg-light p-5 rounded mt-3">
    <h1>Cadastrar</h1>
    <form action="/cad" method="post">
        <div class="row mt-5">
            <div class="col-md-5 mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu Nome Completo" required>
            </div>
            <div class="col-md-5 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="nome@provedor.com.br"
                    required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="mt-4 p-2 w-100 btn btn-success mb-3">Cadastrar</button>
            </div>
        </div>
    </form>
    {{>_msg}}
</div>